body {
  font-family: 'Poppins', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-left: 2em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: black;
  height: 100vh;
  width: 20%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.navbar {
  background-color: black;
  height: 5vh;
  position: sticky;
  top: 0;

}

nav li a {
  align-items: center;
  text-decoration: none;
  font-size: .8em;
  color: white;
  padding: 75em 2em;

}

nav li:hover {
  background: grey;
  color: cyan;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
  color: white;
}

header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.open-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

nav svg.close {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

header svg {
  width: 2.3em;
  margin-top: -.6em;
  cursor: pointer;
}

.landingpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/profile.jpg");
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-msg {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

.aboutme {
  margin-top: 1em;
  height: 50vh;
  width: 100%;
  color: white;
  background-color: #000000;
  display: flex;
}

.profile-picture {
  background: url('../assets/images/profile.jpg');
  background-size: cover;
  border-radius: 2em;
  width: 30%;
  height: 50vh;
  margin: 1em 1em;
  border: 4px solid white;

}

.info {
  margin: 1em 1em;
  padding: 1em 1em;
}

.info h1 {
  font-weight: bold;
}

.info h3 span {
  color: cyan;

}


.info p {
  font-size: 1.2em;
}

.btn {
  padding: .5em 2em;
  background: cyan;
}

a {
  padding: .5em .5em;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.heading h1 {
  color: cyan;
  margin: 1em 1em;
}

.myskills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 1em 2em;
  margin: 1em 2em;
}

.myskills .skill {
  color: white;
  font-weight: bold;
  font-size: 2em;
}



@media only screen and(max-width:1200px) {
  body {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  .landingpage {
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
  }

  nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: unset;
    display: flex;
    width: auto;
    height: auto;
    background: none;
  }

  nav svg.close {
    display: none;
  }

  nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  nav li a {
    color: white;
    padding: .5em 1.5em;
    font-size: .9rem;
  }

  nav li a:hover {
    background: none;
    text-decoration: underline;
  }

}

@media (max-width:765px) {
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  .landingpage {
    width: 100%;
  }

  .hero-msg {
    text-align: left;
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
  }

  nav li {
    list-style-type: none;
    align-items: center;
  }

  nav li a {
    color: white;
    list-style-type: none;
    font-size: .6rem;
  }

  nav li a:hover {
    background: none;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 550px) {
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
  }

  .landingpage {
    width: 100%;
  }

  .hero-msg {
    text-align: left;
    position: absolute;
    top: 70%;
    left: 35%;
    color: white;
  }

  nav li {
    list-style-type: none;
    align-items: center;
  }

  nav li a {
    color: white;
    list-style-type: none;
    font-size: .5rem;
  }

  nav li a:hover {
    background: none;
    text-decoration: underline;
  }
}


@media (max-width:765px) {
  .profile-picture {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 2em;
    border: 4px solid white;

  }

  .info {
    width: 100%;
  }

  .aboutme,
  .myskills,
  .heading {
    padding: 2rem 1rem;

  }

  .info p {
    font-size: 1em;
    margin-bottom: 2.5em;
  }

  .btn {
    padding: .3em .2em;
    background: cyan;
  }
}

@media (max-width:550px) {
  .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    border: 4px solid white;

  }

  .info {
    width: 100%;
  }

  .aboutme,
  .myskills,
  .heading {
    padding: 2rem 1rem;
    font-size: 0.6em;
  }

  .info p {
    font-size: 1em;
    margin-bottom: 2.5em;
  }

  .btn {
    padding: .3em .2em;
    background: cyan;
  }
}

.service {
  width: 100%;
  background-color: black;
  padding: 2rem;
  border-top: 4px solid black;
}

.service .title_header {
  color: white;
  text-align: center;
}

.service .title {
  font-weight: bold;
  color: cyan;
}

.service section {
  padding: 0rem 2rem;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.service section .card {
  width: 30%;
  background-color: transparent;
  padding: .1em .1em;
  margin: .2em .2em;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  background-color: black;
}

.service section .card:hover {
  -webkit-box-shadow: inset 1px 1px 10px grey;
  -moz-box-shadow: inset 1px 1px 10px grey;
  box-shadow: inset 1px 1px 10px grey;
}

.service section .card .title {
  font-size: 1.2em;
  text-align: center;
}



.portfolio {
  width: 100%;
  background-color: black;
  padding: 2rem;
  border-top: 4px solid black;
}

.portfolio .title_header {
  color: white;
  text-align: center;
}

.portfolio .categories {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

.portfolio .categories a {
  color: white;
  text-decoration: none;
  padding: 1em .1em;
  margin: 1em .2em;
}

.portfolio .title {
  font-weight: bold;
  color: cyan;
}

.portfolio section {
  padding: 0rem 2rem;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.portfolio section .card {
  width: 30%;
  background-color: transparent;
  padding: .1em .1em;
  margin: .2em .2em;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  background-color: black;
}

.portfolio section .card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.portfolio section .card:hover {
  -webkit-box-shadow: inset 1px 1px 10px grey;
  -moz-box-shadow: inset 1px 1px 10px grey;
  box-shadow: inset 1px 1px 10px grey;
}

.portfolio section .card .title {
  font-size: 1.2em;
  text-align: center;
}

@media (max-width:765px) {
  .service {
    padding: 2rem 0rem;
    width: 100%;
  }

  .service section {

    padding: 0rem 1rem;
    flex-wrap: wrap;
  }

  .service section .card {
    margin: 10px 0;
    width: 100%;

  }
}

@media (max-width:765px) {
  .portfolio {
    padding: 2rem 0rem;
    width: 100%;
  }

  .portfolio section {

    padding: 0rem 1rem;
    flex-wrap: wrap;
  }

  .portfolio section .card {
    margin: 10px 0;
    width: 100%;

  }
}


.experience {
  width: 100%;
  /* position:relative; */
  padding: 2rem 0;
  background-color: black;
}

.experience .title_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.experience section {
  width: 100%;

  transition: 0.5s;
}

.experience section .card {
  display: inline-block;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  position: relative;
  overflow: hidden;
  width: 30%;
  margin: 10px;
}

.experience section .card .tag {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 4px 10px;
  color: white;
  background-color: cyan;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  overflow: hidden;
}

.experience section .card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.experience section .card .content {
  padding: 0rem 1rem;
  white-space: pre-wrap;
}

.experience section .card .content p {
  color: white;
}

.experience section .card .title {
  font-size: 1.5em;

  font-weight: bold;
  text-decoration: none;
  color: cyan;


}

.experience:hover .buttons {
  opacity: 1;
}

.experience .fa-angle-double-right {
  position: absolute;
  top: 50%;
  right: 30px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
}

.experience .fa-angle-double-left {
  position: absolute;
  top: 50%;
  left: 30px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
}

.experience .angles {
  opacity: 0.7;
  transition: 0.5s;
}

.experience .angles:hover {
  opacity: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.blog {
  width: 100%;
  padding: 2rem 0;
  background-color: black;
}

.blog .title_header {
  color: white;
  text-align: center;
}

.blog section {
  width: 100%;
  margin: 1em 2em;
  display: flex;
  flex-wrap: wrap;
}

.blog section .card {
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  overflow: hidden;
  position: relative;

  width: 30%;
  margin: 10px;
}

.blog section .card .tag {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 4px 10px;
  color: white;
  background-color: cyan;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  overflow: hidden;
}

.blog section .card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.blog section .card .content {
  padding: 0rem 1rem;
}

.blog section .card .desc {
  color: white;

}

.blog section .card .title {
  font-size: 1.5em;
  color: cyan;
  font-weight: bold;
  text-decoration: none;


}

.blog section .card .reactions .iconify {
  color: cyan;
  width: 2.5em;
  height: 2.5em;

}

.blog .fa-angle-double-right {
  position: absolute;
  top: 50%;
  right: 30px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
}

.blog .fa-angle-double-left {
  position: absolute;
  top: 50%;
  left: 30px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
}

.blog .angles {
  opacity: 0.7;
  transition: 0.5s;
}

.blog .angles:hover {
  opacity: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:920px) {
  .experience .title_header {
    width: 100%;

    padding: 2rem 0;
    background-color: black;
    margin-left: 2em;
  }

  .experience section .card {
    width: 100%;
    margin: 0;
    margin-right: 15px;
  }
}

@media (max-width:920px) {
  .blog .title_header {
    width: 100%;
    padding: 2rem 0;
    background-color: black;
    margin-left: 2em;
  }

  .blog section .card {
    width: 100%;
    margin: 0;
    margin-right: 15px;
  }
}

.contact .heading {
  color: white;
  text-align: center;
}

.contact .icons-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.contact .icons-container .icons {
  width: 30%;
  padding: 1em .5em;
  margin: 1em .5em;
  text-align: center;
  background: black;
  color: white;
  border-radius: .5rem;
}

.contact .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--main-color);
  color: cyan;
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  color: #111;
  font-size: 2rem;
  padding: .5rem 0;
  padding-top: 1rem;
}

.contact .icons-container .icons p {
  color: #666;
  font-size: 1.7rem;
}

.contact .icons-container .icons li {
  list-style-type: none;
  font-size: 1.2em;
}

.contact .queries {
  margin: 2rem 5rem;
  text-align: center;
}

.contact .queries form {
  width: 60%;
  margin: 1em 15em;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contact .queries form .box1,
.contact .queries form .box2 {

  width: 100%;
  color: #333;
  text-transform: none;
  font-size: 1em;
}

.contact .queries form textarea {
  width: 100%;
  color: #333;
  text-transform: none;
  height: 10rem;
  resize: none;
}

.contact .queries form .box:focus,
.contact .queries form textarea:focus {
  border-color: black;
}

.contact .queries form .box1::placeholder,
.contact .queries form .box2::placeholder,
.contact .queries form textarea::placeholder {
  text-transform: capitalize;
  color: black;

  font-weight: bold;
}

.contact .queries form .btn {
  color: white;
  background: cyan;
  padding: .5em .5em;
  border-radius: 2em;
  width: 7rem;
}

.contact .queries form .btn:hover {
  background-color: grey;
  color: white;
}

.sub {
  margin-top: 2rem;
  text-align: center;
}

.sub h1,
h4 {
  text-transform: capitalize;
  color: cyan;
}

.sub h3 {
  text-transform: capitalize;
  color: white;
}

.sub h5 {
  color: red;
}


form {
  text-align: center;
  margin: 0.4rem 2rem;
}

.email-sub {
  padding: 0.2rem;
  border: 1px solid white;
  border-radius: 4px;
}

.email-sub:focus {
  border: 1px solid wheat;
  outline: none;
}

.submit-btn {
  background-color: black;
  color: cyan;
  padding: 0.3rem;
  margin: 0 .5em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: grey;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin: 0 .1em;

}

footer .social-icons a {
  font-size: 1rem;
  color: white;

}

footer .name {
  font-size: 1rem;
  text-align: end;
}

footer a:hover {
  color: aqua;

}

#errorMsg {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;

}

@media (max-width:920px) {
  .contact .icons-container .icons {
    width: 100%;
  }

  .contact .queries form {
    margin: 2rem 5rem;
    text-align: center;
  }
}